@model CreateViewModel
@{ 
    ViewBag.Title = "Create";
}
    <form enctype="multipart/form-data" asp-action="create" asp-controller="home" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row mt-2">
            <label asp-for="Title" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Title" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Genre" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <select asp-for="Genre" class="custom-select mr-sm-2" asp-items="Html.GetEnumSelectList<Generes>()"></select>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Rating" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Rating" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Price" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Price" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ReleaseDate" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="PhotoPath" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="PhotoPath" class="form-control custom-file-input" />
                <label class="custom-file-label">Choose file..</label>
            </div>
        </div>
        <div class="form-group row">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
        @section Scripts{
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on('change', function () {
                    var filename = $(this).val.split("\\").pop();
                    $(this).next('.Custom-file-label').html(filename);
                });
            });
        </script>}
    </form>

